{% extends "CustomerBase.html" %}
{% load staticfiles %}
{% block content %}
    <section class="demo-hero-5" style="height: 200px!important; margin-top: 70px!important">
        <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-center">
                <h1 class="inner p-b-50 m-b-20">Orders</h1>
            </div>
        </div>
    </section>
    <div class="container">

        {% if object_list %}
            <div class="panel panel-group panel-transparent" data-toggle="collapse" id=
                    "accordion">

                {% for product in object_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button class="btn btn-danger btn-xs pull-right" style="margin-right: 30px"
                                        data-toggle="modal"
                                        data-target="#DeleteProductModal"
                                        onclick="setDeleteProduct('{{ product_url.url }}');">Remove
                                </button>
                                <button class="btn btn-warning btn-xs pull-right" style="margin-right: 5px"
                                        data-toggle="modal"
                                        data-target="#EditProductModal"
                                        onclick="setEditProduct('{{ product.name }}','{{ product.product_code }}','{{ product.category }}','{{ product.brand }}');">
                                    Edit
                                </button>
                                <button class="btn btn-complete btn-xs pull-right" style="margin-right: 5px"
                                        data-toggle="modal"
                                        data-target="#AddProductUrlModal"
                                        onclick="setProductCode('{{ product.product_code }}');">
                                    Add Comparison
                                </button>
                                <a class="collapsed" data-parent="#accordion" data-toggle=
                                        "collapse" href="#collapse{{ product.product_code }}">{{ product.name }}</a>
                            </h4>

                        </div>
                        <div class="panel-collapse collapse" id="collapse{{ product.product_code }}">
                            <div class="panel-body">
                                <h4>{{ product.brand }} - {{ product.category }} - {{ product.product_code }}</h4>

                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <th width="40%">URL</th>
                                        <th width="30%">Name</th>
                                        <th width="30%">Price</th>
                                    </tr>
                                    </thead>
                                    {% for product_url in product.producturl_set.all %}

                                        <tr>
                                            <td>{{ product_url.url|truncatechars:30 }}</td>
                                            <td>{{ product_url.name|truncatechars:30 }}</td>
                                            <td>{{ product_url.price }}</td>
                                            <td>
                                                <button class="btn btn-danger btn-xs" style="margin:6px"
                                                        data-toggle="modal"
                                                        data-target="#DeleteProductUrlModal"
                                                        onclick="setProduct('{{ product_url.url }}');">Remove
                                                </button>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <strong>There are currently no orders to view.</strong>
        {% endif %}
    </div>


    <div class="modal fade fill-in" id="AddProductModal" tabindex="-1" role="dialog"
         aria-labelledby="modalFillInLabel"
         aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Create</span> New App</h5>
                </div>
                <div class="modal-body">
                    <form action="/user_apps/new" method="post">

                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-9">
                                <input type="text" placeholder="Name" name="name" class="form-control input-lg">
                            </div>

                            <div class="col-md-9">
                                <input type="text" placeholder="Description" class="form-control input-lg"
                                       name="description">
                            </div>
                            <div class="col-md-9">
                                    <textarea style="resize: none;" rows="10" placeholder="Template" name="template"
                                              class="form-control input-lg"></textarea>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-large fs-15">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade fill-in" id="EditProductModal" tabindex="-1" role="dialog"
         aria-labelledby="modalFillInLabel"
         aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Edit</span> Product</h5>
                </div>
                <div class="modal-body">
                    <form action="/user_apps/update" method="post">

                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-9">
                                <input type="text" id="EditName" placeholder="Name" name="name"
                                       class="form-control input-lg">
                            </div>

                            <div class="col-md-9">
                                <input disabled type="text" id="EditProductCode" placeholder="Product Code"
                                       class="form-control input-lg"
                                       name="product_code">
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="Category" id="EditCategory" name="category"
                                       class="form-control input-lg">
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="Brand" id="EditBrand" name="brand"
                                       class="form-control input-lg">
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-large fs-15">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade fill-in" id="DeleteProductModal" tabindex="-1" role="dialog"
         aria-labelledby="modalFillInLabel"
         aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-body">
                    <form action="/user_apps/delete" method="post">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-9">
                                <h2>Are You Sure You Want To Remove This Product?</h2>
                            </div>
                            <input type="hidden" id="url" name="url">
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-center col-md-offset-9">
                                <button type="submit" class="btn btn-primary btn-lg btn-large fs-15 ">Remove
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>







{% endblock %}

{% block script %}
    <script>
        function setProductCode(id) {
            $("#product_code").val(id);
        }

        function setDeleteProduct(id) {
            $("#delete_product").val(id);
        }

        function setEditProduct(name, product_code, category, brand) {
            $("#EditName").val(name);
            $("#EditProductCode").val(product_code);
            $("#EditCategory").val(category);
            $("#EditBrand").val(brand);
        }

        function setDeleteProductUrl(id) {
            $("#delete_product_url").val(id);
        }
    </script>
{% endblock %}